<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('partials/header')  -%> 
    <div class="flex justify-center items-center h-full w-full m-auto mt-40">
     <div class="flex justify-center flex-col p-4 mr-10 max-w-4xl">
      <h1 class="font-bold text-8xl mb-4">Bem vindo</h1>
      <p class="font-normal text-lg ml-[6px] max-w-xl">Cadastre, edite, e faça outras mais operações para obter a melhor gerencia para os seus produtos.</p>
     </div>

      <img alt="imagem" src="img/img.png" class="w-[40vw] h-[50vh]" />
    </div>
  </body>
</html>

  

