<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('partials/header')  -%> 
    <div class="flex justify-center items-center h-full w-full m-auto mt-40">
     <div class="flex justify-center flex-col p-4 mr-10 max-w-4xl">
      <h1 class="font-bold text-8xl mb-4 text-slate-800">Bem-vindo</h1>
      <p class="font-medium text-lg ml-[6px] max-w-md tracking-wide leading-relaxed text-gray-600">
        Gerencie seus produtos da melhor maneira possível para o seu negócio.</p>
     </div>

      <img alt="imagem" src="img/img.png" class="w-[40vw] h-[50vh]" />
    </div>
  </body>
</html>

  

