<!DOCTYPE html>
<html lang="en">
<body>
  <%- include('partials/header')  -%> 
   <form method="POST" action="/produto-cadastrar" class="flex justify-center py-4 px-20 border rounded-sm flex-col w-full m-auto max-w-4xl">
    <%- include('partials/campos-produto') -%>  
  </form>
</body>
</html>