<!DOCTYPE html>
<html lang="en">
<body>
  <%- include('partials/header')  -%> 
  <form method="POST" action="/produto-cadastrar" class="flex justify-center py-4 px-20 border rounded-sm flex-col w-full m-auto max-w-4xl">
     <h1 class="font-bold text-slate-700 text-2xl mb-4">Cadastrar produto</h1>
    <%- include('partials/campos-produto') -%>  
  </form>
</body>
</html>