<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Sobre</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('partials/header')  -%> 
    <h1 class="text-3xl space-y-2 m-auto max-w-6xl font-bold">Desenvolvido por: </h1>
    <div class="flex justify-between h-full w-full m-auto max-w-4xl mt-40">
      <a href="https://www.instagram.com/kareengaspar/" target="_blank">
      <div class="mt-[-90px] border border-slate-100 p-8 rounded-lg flex justify-between items-center flex-col-reverse drop-shadow-lg hover:translate-y-[-5px] transition-all">
        <span class="font-medium text-gray-900 text-md space-y-2">by Fitbank</span>
        <h2>Analista de Qualidade de Software</h2>
        <span class="font-bold text-lg">Anna Karen</span>
        <img src="/img/karen.jpg" class="rounded-full object-fill h-50 w-60 mb-2" />
      </div>
    </a>

    <a href="https://www.instagram.com/jairo_evaristo12/" target="_blank">
      <div class="bottom-[230px] right-[500px] absolute border border-slate-100 p-8 rounded-lg flex justify-between items-center flex-col-reverse drop-shadow-lg hover:translate-y-[-5px] transition-all">
        <span class="font-medium text-gray-900 text-md space-y-2">by OSF Digital</span>
        <h2>Desenvolvedor de Software</h2>
        <span class="font-bold text-lg">Jairo Evaristo</span>
        <img src="/img/jairo.jpg" class="rounded-full object-fill h-70 w-60 mb-2" />
      </div>
      </a>
    </div>
  </body>
</html>

  

