<label>Nome</label>
  <input type="text" name="nome" />

<label>Descrição</label>
  <input type="text" name="descricao" />

<label>Preço</label>
  <input type="text" name="preco" />

<input type="submit" value="Cadastrar" />