<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categorias</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://www.jsdelivr.com/package/npm/heroicons"></script>
</head>

<header class="w-full bg-slate-700 h-16 flex items-center jusitify-between px-8 mb-12">
  <div class="w-12">
    <a href="/" class="text-2xl font-bold text-slate-100">
      Inicio
    </a>
  </div>
  <div class="flex items-end justify-end w-full">
    <a href="/produtos" class="mr-6 text-slate-200 hover:bg-slate-800 p-2 rounded transition-all">Gerenciar produtos</a>
    <a href="/categorias" class="text-slate-200 hover:bg-slate-800 p-2 rounded transition-all">Gerenciar categorias</a>
    <a href="/sobre" class="text-slate-200 hover:bg-slate-800 p-2 rounded transition-all ml-6">Sobre</a>
  </div>
</header>